.background {
  background: rgba(255, 255, 255, 0.3);
}

html {
  background: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.recipe-instructions-input{
  width: 500px;
  height: 50px;
}

div.add-more-ingedient-fields{
  width: 123.45px;
}
div.remove-ingedient-fields{
  width: 121.23px;
}

div>img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 200px;
}
.centered>p {
  text-align: center;
  font-size: 48px;
  color: #000000;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.main-display>img{
  margin-left: auto;
  margin-right: auto;
  width: 525px;
  height: 400px;
}

h4{
  text-align: left;
}
.main-display>li{
  list-style-type: none;
  text-align: left;

}
.main-display>p{
 text-align: left;
}
.main-display{
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
 }

.main-display>h3{
  text-align: center;
  font-size: 30px;
 }

 .likes{
   text-align: right;
   margin: 0px 0px 5px 5px;
   top: -30px
 }

 .like-btn-1{
  margin: 0px 0px 20px 22px;
  /* justify-content: right; */
  /* align-items: right; */
  display: flex;
  display: grid;
 }
.add-recipe-form{
  outline: 2px solid black;
  padding: 10px 0px 20px 20px;
}
.recipe-instructions-input{
  margin: 0px 10px 10px 0px;
}

p.inputRecipe{
  margin: 20px 0px 0px 0px;
}

div.main-display>button{
  margin: 10px 0px 0px 0px;
}