/* body {
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}  */

.recipe-instructions-input{
  width: 500px;
  height: 50px;
}

div>img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 200px;
}
.centered>p {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #B94C01;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.main-display>img{
  margin-left: auto;
  margin-right: auto;
  width: 525px;
  height: 400px;
}

h4{
  text-align: left;
}
.main-display>li{
  list-style-type: none;
  text-align: left;

}
.main-display>p{
 text-align: left;
}
.main-display{
  text-align: center;
 }

.main-display>h3{
  text-align: center;
  font-size: 30px;
 }

 .likes{
   text-align: right;
   margin: 0px 0px 5px 22px;
   top: -30px
 }

 .like-btn-1{
  margin: 0px 0px 20px 20px;
  /* justify-content: right; */
  /* align-items: right; */
  display: flex;
  display: grid;
 }
.add-recipe-form{
  outline: 1px solid black;
  padding: 2px 10px 20px 20px;
}
.recipe-instructions-input{
  margin: 0px 10px 10px 0px;
}

p.inputRecipe{
  margin: 20px 0px 0px 0px;
}